<!doctype html>
<link rel="StyleSheet" href="css/Practica1css.css" type="text/css"> 
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>Amigos - FaceBluff</title>
    </head>

    <body>

        <div class="pag">

            <div class="cabeceraBox anchoTotal">

                <div class="logoBox">

                    <img class="logoImg" src="img/Logo.png"/>

                </div>

                <div class="linksBox anchoTotal">

                    <div class="linksMenu">

                        <a href="/myProfile" class="menu">
                            <p class="fuentePropia negrita fuenteGrande blanco">Perfil</p>
                        </a>

                    </div>
                    <div class="linksMenu"> 

                        <a href="/friends" class="menu">
                            <p class="fuentePropia negrita fuenteGrande blanco">Amigos</p>
                        </a>

                    </div>
                    <div class="linksMenu"> 

                        <a href="/questions" class="menu">
                            <p class="fuentePropia negrita fuenteGrande blanco">Preguntas</p>
                        </a>

                    </div>
                    <div class="linksMenu"> 

                        <a href="/logOut" class="menu">
                            <p class="fuentePropia negrita fuenteGrande blanco">Desconectar</p>
                        </a>

                    </div>

                    <div> 


                        <div class="puntosUserBox">

                            <div class="perfilImgMenuBox">

                                <img class="perfilImg" src="<%= UserImg%>"/>	

                            </div>

                            <label class="fuentePropia negrita fuenteMedia blanco espacioIzq"><%= UserPoints%> pts</label>

                        </div>

                    </div>


                </div>

            </div>

            <div class="cuerpoBox">	

                <div>
                    <p class="fuentePropia negrita fuenteGrande">Solicitudes de amistad</p>
                </div>

                <div class="listaBox">

                    <% if(errorsSolicitudes === null){ %>

                    <ul>
                        <% listaSolicitudes.forEach(result => { %>
                        <li>
                            <div class="espacioDer">
                                <img class="perfilImgfriendBox" src="<%= result.img %>"/>
                            </div>

                            <div class="flexGrow">

                                <form action="/verPerfil" method="POST">

                                    <input value="<%= result.email %>" name="perfilSolicitante" type="hidden">

                                    <input class="texto" type="submit"  value="<%= result.nombre %>"/>

                                </form>
                            </div>

                            <div>

                                <form action="/aceptarAmistad" method="POST">

                                    <input value="<%= result.email %>" name="aceptaAmigo" type="hidden">

                                    <input class="boton fuentePropia negrita fuenteGrande blanco" type="submit"  value="Aceptar"/>

                                </form>

                            </div>

                            <div>

                                <form action="/rechazarAmistad" method="POST">

                                    <input value="<%= result.email %>" name="rechazarAmigo" type="hidden">

                                    <input class="boton fuentePropia negrita fuenteGrande blanco" type="submit"  value="Rechazar"/>

                                </form>

                            </div>
                        </li>
                        <% }); %>
                    </ul>

                    <% }else { %>

                    <div class="error">
                        <%= errorsSolicitudes %>
                    </div>

                    <% } %>

                </div>



                <div>
                    <p class="fuentePropia negrita fuenteGrande">Búsqueda de amigos</p>
                </div>

                <div class="PanelBusquedabox">

                    <div><p  class="fuenteMedia espacioDer espacioIzq">Buscar:</p></div>


                    <form class="FormBusquedabox anchoTotal" action="/search" method="POST">

                        <div class="anchoTotal espacioDer">
                            <input class="anchoTotal altoTotal fuenteMedia" name="buscar" type="text" placeholder="Introduzca nombre...">

                        </div>
                        <div>
                            <input class="boton fuentePropia negrita fuenteGrande blanco" type="submit" value="Buscar"/>
                        </div>



                    </form>

                </div>		

                <div>
                    <p class="fuentePropia negrita fuenteGrande">Mis amigos</p>
                </div>

                <div class="listaBox">

                    <% if(errorsAmigos === null){ %>

                    <ul>
                        <% listaAmigos.forEach(result => { %>
                        <li>
                            <div class="espacioDer">
                                <img class="perfilImgfriendBox" src="<%= result.img %>"/>
                            </div>

                            <div class="flexGrow">

                                <form action="/verPerfil" method="POST">

                                    <input value="<%= result.email %>" name="perfilSolicitante" type="hidden">

                                    <input class="texto" type="submit"  value="<%= result.nombre %>"/>

                                </form>
                            </div>

                        </li>
                        <% }); %>
                    </ul>

                    <% }else { %>

                    <div class="error">
                        <%= errorsAmigos %>
                    </div>

                    <% } %>

                </div>
            </div>
        </div>
    </body>
</html>
