<!doctype html>
<link rel="StyleSheet" href="css/Practica1css.css" type="text/css"> 
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>Nuevo usuario - FaceBluff</title>
    </head>

    <body>

        <div class="pag">

            <div class="cabeceraBox anchoTotal">

                <div class="logoBox">

                    <img class="logoImg" src="/img/Logo.png"/>

                </div>

                <div class="linksBox anchoTotal">

                    <div class="linksMenu">

                        <a href="index" class="menu">
                            <p class="fuentePropia negrita fuenteGrande blanco">Entrar</p>
                        </a>

                    </div>
                    <div class="linksMenu"> 

                        <a href="nuevoUsuario" class="menu">
                            <p class="fuentePropia negrita fuenteGrande blanco">Nuevo usuario</p>
                        </a>

                    </div>

                </div>

            </div>

            <div class="cuerpoBox">

                <div>
                    <p class="fuentePropia negrita fuenteGrande">Nuevo usuario</p>
                </div>

                <div class="newUserBox">

                    <form action="/altaNuevoUsuario" method="POST" class="registroPost">			

                        <div class="formLineBox anchoTotal">

                            <div class="formTextBox"><p class="fuenteMedia blanco">Email</p></div>

                            <div class="formInputTextBox2">
                                <% if(usuario.email === null || usuario.email === undefined){ %>
                                <input class="anchoTotal altoTotal fuenteMedia" name="email" type="email" placeholder='ejemplo@mail.com'>
                                <% }else{ %>
                                <input class="anchoTotal altoTotal fuenteMedia" name="email" type="email" value="<%= usuario.email %>">
                                <% }%>
                            </div>

                        </div>

                        <div class="formLineBox anchoTotal">

                            <div class="formTextBox"><p class="fuenteMedia blanco">Contraseña</p></div>

                            <div class="formInputTextBox2">
                                <% if(usuario.pass == null || usuario.pass === undefined){ %>
                                <input class="anchoTotal altoTotal fuenteMedia" name="pass" type="password" placeholder='Entre 6 y 20 caracteres'>
                                <% }else{ %>
                                <input class="anchoTotal altoTotal fuenteMedia" name="pass" type="password" value="<%= usuario.pass %>">
                                <% }%>
                            </div>

                        </div>

                        <div class="formLineBox anchoTotal">

                            <div class="formTextBox"><p class="fuenteMedia blanco">Nombre Completo</p></div>

                            <div class="formInputTextBox2">
                                <% if(usuario.nombre === null || usuario.nombre === undefined){ %>
                                <input class="anchoTotal altoTotal fuenteMedia" name="nombre" type="text" placeholder='Nombre y apellidos'>
                                <% }else{ %>
                                <input class="anchoTotal altoTotal fuenteMedia" name="nombre" type="text" value="<%= usuario.nombre %>">
                                <% }%>
                            </div>

                        </div>

                        <div class="formLineBox anchoTotal">

                            <div class="formTextBox"><p class="fuenteMedia blanco">Sexo</p></div>

                            <div class="formInputTextBox2">

                                <label class="fuenteMedia blanco espacioIzq espacioDer">
                                    <input type="radio" name="sexo" value="Masculino" <% if(usuario.sexo === "Masculino") { %> checked <% } %>> Masculino
                                </label>

                                <label class="fuenteMedia blanco espacioIzq espacioDer">
                                    <input type="radio" name="sexo" value="Femenino" <% if(usuario.sexo === "Femenino") { %> checked <% } %>> Femenino
                                </label>

                                <label class="fuenteMedia blanco espacioIzq espacioDer">
                                    <input type="radio" name="sexo" value="Otro" <% if(usuario.sexo === "Otro") { %> checked <% } %>> Otro
                                </label>

                            </div>

                        </div>

                        <div class="formLineBox anchoTotal">

                            <div class="formTextBox"><p class="fuenteMedia blanco">Fecha de Nacimiento</p></div>

                            <div class="formInputTextBox2">
                                <% if(usuario.fechaNacimiento === null || usuario.fechaNacimiento === undefined){ %>
                                <input class="altoTotal fuenteMedia" name="fechaNacimiento" type="datetime" placeholder='mm/dd/aaaa'>
                                <% }else{ %>
                                <input class="altoTotal fuenteMedia" name="fechaNacimiento" type="datetime" value="<%= usuario.fechaNacimiento %>">
                                <% }%>
                            </div>

                        </div>

                        <div class="formLineBox anchoTotal">

                            <div class="formTextBox"><p class="fuenteMedia blanco">Imagen de Perfil</p></div>

                            <div class="formInputTextBox2">
                                
                                <input name="img" type="file" value="<%= usuario.img %>">

                            </div>

                        </div>

                        <div>

                            <input class="boton fuentePropia negrita fuenteGrande blanco espacioArriba" type="submit"  value="Crear Usuario"/>

                        </div>

                    </form>

                </div>

                <% if (errores.email) { %>
                <div class="error">
                    <%= errores.email.msg %>
                </div>
                <% } %>

                <% if (errores.pass) { %>
                <div class="error">
                    <%= errores.pass.msg %>
                </div>
                <% } %>

                <% if (errores.nombre) { %>
                <div class="error">
                    <%= errores.nombre.msg %>
                </div>
                <% } %>

                <% if (errores.fechaNacimiento) { %>
                <div class="error">
                    <%= errores.fechaNacimiento.msg %>
                </div>
                <% } %>
				
				<% if (usuario.exist !== null) { %>
                <div class="error">
                    <%= usuario.exist %>
                </div>
                <% } %>

            </div>

        </div>

    </body>
</html>
