<!doctype html>
<link rel="StyleSheet" href="css/Practica1css.css" type="text/css"> 
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>Pregunta - FaceBluff</title>
    </head>

    <body>

        <div class="pag">

            <div class="cabeceraBox anchoTotal">

                <div class="logoBox">

                    <img class="logoImg" src="img/Logo.png"/>

                </div>

                <div class="linksBox anchoTotal">

                    <div class="linksMenu">

                        <a href="/myProfile" class="menu">
                            <p class="fuentePropia negrita fuenteGrande blanco">Perfil</p>
                        </a>

                    </div>
                    <div class="linksMenu"> 

                        <a href="/friends" class="menu">
                            <p class="fuentePropia negrita fuenteGrande blanco">Amigos</p>
                        </a>

                    </div>
                    <div class="linksMenu"> 

                        <a href="/questions" class="menu">
                            <p class="fuentePropia negrita fuenteGrande blanco">Preguntas</p>
                        </a>

                    </div>
                    <div class="linksMenu"> 

                        <a href="/logOut" class="menu">
                            <p class="fuentePropia negrita fuenteGrande blanco">Desconectar</p>
                        </a>

                    </div>

                    <div> 


                        <div class="puntosUserBox">

                            <div class="perfilImgMenuBox">

                                <img class="perfilImg" src="<%= UserImg %>"/>	

                            </div>

                            <label class="fuentePropia negrita fuenteMedia blanco espacioIzq"><%= UserPoints %> pts</label>

                        </div>

                    </div>


                </div>

            </div>

            <div class="vistaPreguntaBox">	

                <div>
                    <p class="fuentePropia negrita fuenteGrande"> <%= pregunta.preguntas %></p>
                </div>

                <% if (respuesta == null){ %>
                
                <p class="fuenteMedia"> No has contestado a esta pregunta.</p>
                
                <form action="/responderPregunta" method="POST">


                    <input value="<%= pregunta.id_pregunta %>" name="id_pregunta" type="hidden">

                    <input class="boton fuentePropia negrita fuenteGrande blanco espacioArriba" type="submit"  value="Responder pregunta"/>

                </form>

                <% }else{ %>
                
                <p class="fuenteMedia">Tu respuesta es: <%= respuesta.respuesta %></p>
                
                <% } %>

            </div>
        </div>
    </body>
</html>
