<!doctype html>
<link rel="StyleSheet" href="css/Practica1css.css" type="text/css"> 
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>Pregunta - FaceBluff</title>
    </head>

    <body>

        <div class="pag">

            <div class="cabeceraBox anchoTotal">

                <div class="logoBox">

                    <img class="logoImg" src="img/Logo.png"/>

                </div>

                <div class="linksBox anchoTotal">

                    <div class="linksMenu">

                        <a href="/myProfile" class="menu">
                            <p class="fuentePropia negrita fuenteGrande blanco">Perfil</p>
                        </a>

                    </div>
                    <div class="linksMenu"> 

                        <a href="/friends" class="menu">
                            <p class="fuentePropia negrita fuenteGrande blanco">Amigos</p>
                        </a>

                    </div>
                    <div class="linksMenu"> 

                        <a href="/questions" class="menu">
                            <p class="fuentePropia negrita fuenteGrande blanco">Preguntas</p>
                        </a>

                    </div>
                    <div class="linksMenu"> 

                        <a href="/logOut" class="menu">
                            <p class="fuentePropia negrita fuenteGrande blanco">Desconectar</p>
                        </a>

                    </div>

                    <div> 


                        <div class="puntosUserBox">

                            <div class="perfilImgMenuBox">

                                <img class="perfilImg" src="<%= UserImg %>"/>	

                            </div>

                            <label class="fuentePropia negrita fuenteMedia blanco espacioIzq"><%= UserPoints %> pts</label>

                        </div>

                    </div>


                </div>

            </div>

            <div class="vistaPreguntaBox">	

                <div>
                    <p class="fuentePropia negrita fuenteGrande"> <%= pregunta.preguntas %></p>
                </div>

                <% if (respuesta === null){ %>

                <p class="fuenteMedia"> No has contestado a esta pregunta.</p>

                <a href="/responderPregunta/<%= pregunta.id_pregunta %>" class="texto">
                    <input class="boton fuentePropia negrita fuenteGrande blanco espacioArriba" type="submit"  value="Responder pregunta"/>
                </a>

                <% }else{ %>

                <p class="fuenteMedia">Tu respuesta es: <%= respuesta.respuesta %></p>

                <% } %>

                <div>

                    <% if (listaRespuestasAmigos === null){ %>

                    <p class="fuenteMedia"> Ninguno de tus amigos ha contestado a esta pregunta</p>
                    
                    <% }else{ %>
                    
                    <p class="fuenteMedia"> Los siguientes amigos han contestado a esta pregunta:</p>
                    
                    <% listaRespuestasAmigos.forEach(result => { %>
                    
                        <li>
                            <div class="espacioDer">
                                <img class="perfilImgfriendBox" src="<%= result.img %>"/>
                            </div>

                            <div class="flexGrow">

                                <a href="/verPerfil/<%= result.email %>" class="texto">
                                    <p class="texto"><%= result.nombre %></p>
                                </a>

                            </div>

                            <div>
                                <% if(result.suRespuesta === result.miRespuesta){ %>

                                <p class="fuenteMedia"> Has acertado</p>

                                <% }else if(result.suRespuesta !== result.miRespuesta && result.miRespuesta !== null){ %>
                                
                                <p class="fuenteMedia"> Has fallado</p>
                                
                                <% }else{ %>
                                
                                <form action="" method="POST">
                                    
                                    <input value="<%= pregunta.id_pregunta %>" name="id_pregunta" type="hidden">

                                    <input value="<%= result.email %>" name="email" type="hidden">
                                    
                                    <input value="<%= result.suRespuesta %>" name="suRespuesta" type="hidden">

                                    <input class="boton fuentePropia negrita fuenteGrande blanco espacioArriba" type="submit"  value="Adivinar"/>

                                </form>
                                
                                 <% }%>

                            </div>
                        </li>
                        <% }); %>

                    <% } %>
                </div>

            </div>
        </div>
    </body>
</html>
