<!DOCTYPE html>
<html>
    
<!-- Jaime Tamames y Ruebn Barrado /-->

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Gestor de tareas</title>
    <meta charset="utf8">
    <link rel="stylesheet" href="css/index.css" media="screen">
    <link rel="stylesheet" href="css/index_print.css" media="print">
</head>

<body>

    <div class="cabecera">
        <img src="img/Logo.png" alt="Tareas" id="logo">
        <div class="user">
            <div class="userimg">
                <img src="img/NoPerfil.png" class="avatar">   <!--%=imagenUsuario%> para cuando cambiemos la img de usuario-->
            </div>
            <div>
                <div class="username"><%= userMail %></div>
                <div class="connect_container">
                    <a class="action_button" href="/logout">Desconectar</a>
                </div>
            </div>
        </div>
    </div>

    <div class="tareas">
        <ul> 
            <!-- ForEach de cada tarea, que muestra si esta finalizada o no y sus tags/-->
            <% taskList.forEach(task => { %>
                <li>
                    <span>
                       
                        <% if(task.done){ %>
                            <span class="finalizada"><%= task.text %></span>
                        <% } else{ %>
                            <span class="enunciado"><%= task.text %></span>
                        <% } %>
                        <% if(task.tags.length !== 0){ %>
                            <% task.tags.forEach(tag => { %>   
                                <span class="tag"><%= tag %></span>
                            <% }); %>   
                        <% } %> 
                        
                    </span>
                    
                    <!-- Formulario que marca como finalizada una tarea, pasando el id de forma oculta /-->
                    <form method="POST" id="form" action="/finish">
					
                        <input value="<%= task.id %>" name="taskId" type="hidden">
                        <% if(!task.done){ %>
                            <input class="finalizada" value="Marcar finalizada" type="submit">
                        <% } %>
						
                    </form>

                </li>
            <% }); %>
            
            <!-- Formulario para añadir nuevas tareas con tags con formato: text @tag1 @tag2... /-->
            <li class="nueva">
                <form method="POST" id="formNueva" action="/addTask">
                    <input name="taskText" type="text">
                    <input value="Añadir" type="submit">
                </form>
            </li>
            
        </ul>
    </div>

    <!-- Boton que elimina las tareas marcadas como completadas de la bbdd /-->
    <div class="barra_botones">
        <a href="/deleteCompleted" class="action_button">Eliminar tareas completadas</a>
    </div>
    
</body>

</html>